services:
  jekyll:
    build:
      context: .
      args:
        build_command: "bundle exec jekyll serve --config _config.yml,_config.dev.yml --host 0.0.0.0 --livereload --watch --force_polling --destination /tmp/jekyll-site"
    environment:
      - JEKYLL_ENV=development
    volumes:
      - "./_authors:/srv/jekyll/_authors"
      - "./_data:/srv/jekyll/_data"
      - "./_includes:/srv/jekyll/_includes"
      - "./_layouts:/srv/jekyll/_layouts"
      - "./_posts:/srv/jekyll/_posts"
      - "./_products:/srv/jekyll/_products"
      - "./_sass:/srv/jekyll/_sass"
      - "./admin:/srv/jekyll/admin"
      - "./assets/css:/srv/jekyll/assets/css"
      - "./assets/img:/srv/jekyll/assets/img"
      - "./assets/js:/srv/jekyll/assets/js"
      - "./blog:/srv/jekyll/blog"
      - "./categories:/srv/jekyll/categories"
      - "./gallery:/srv/jekyll/gallery"
      - "./404.md:/srv/jekyll/404.md"
      - "./about.md:/srv/jekyll/about.md"
      - "./feed.xml:/srv/jekyll/feed.xml"
      - "./index.html:/srv/jekyll/index.html"
      - "./install.md:/srv/jekyll/install.md"
      - "./sponsors.md:/srv/jekyll/sponsors.md"
      - "./_config.yml:/srv/jekyll/_config.yml"
      - "./_config.dev.yml:/srv/jekyll/_config.dev.yml"
      - "jekyll-cache:/srv/jekyll/.jekyll-cache"
    ports:
      - 4000:4000
      - 35729:35729

volumes:
  jekyll-cache:
