---
layout: gallery
title: Gallery
permalink: /gallery/
published: false
---


    <div class="col-lg-8 offset-md-2">

      <div class="row">
    {% assign count = 0 %}
    {% assign align = "left" %}
    {% for gallery in site.data.galleries.overview %}
    {% if count == 0 %}<div class="row">{% endif %}
      <div class="card">
        <div class="card-title"> {{gallery.title}}</div>
        <div class="row">

        {% assign gallery_path = gallery.picture_path | default: gallery.directory %}
        <a href="{{ '/gallery/' | append: gallery.directory | append: '.html' | relative_url }}">
          <img class="img-thumbnail" alt="{{ gallery.title }}" src="{{ '/assets/img/gallery/' | append: gallery_path | append: '/' | append: gallery.preview.thumbnail | relative_url }}" />
        </a>
        </div>
      </div>
    {% if count == 1 %}</div>{% endif %}
    {% assign count = count | plus: 1 %}
    {% assign align = "right" %}
    {% if count >= 2 %}
    {% assign align = "left" %}
    {% assign count = 0 %}
    {% endif %}
    {% endfor %}

    {% if count != 1 %}
    </div>
    {% endif %}

    </div>
</div>
