<div class="post-author">
  <div class="post-author__avatar">
    {% if author.avatar_url %}
    <img src="{{ '/assets/img/authors/' | append: author.avatar_url | relative_url }}" alt="{{author.name}}" />
    {% else %}
    <img src="{{ '/assets/img/authors/' | append: author.avatar | relative_url }}" alt="{{author.name}}" />
    {% endif %}
  </div>
  <div class="post-author__info">
    <span class="post-author__written-by">Written by</span>
    <h3 class="post-author__name">{{author.name}}</h3>
    <p class="post-author__bio">{{author.bio}}</p>
    <div class="post-author__links">
      {% for network in author.social %}
      <a class="post-author__social" href="{{ network.url }}" target="_blank" rel="noopener">
        <i class="fab fa-{{ network.title }} fa-fw"></i>
      </a>
      {% endfor %}
      {% if author.site and author.site != "" %}
      <a class="post-author__social" href="{{author.site}}" target="_blank" rel="noopener">
        <i class="fa fa-globe"></i>
      </a>
      {% endif %}
    </div>
  </div>
</div>
