<style>
/* change cover_img in config.yml */
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url("{{ '/assets/img/' | append: site.hero_cover_img | relative_url }}");
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{ '/assets/img/' | append: site.author_logo | relative_url }}" />
  <p class="jumbotron-heading">Hi, I’m {{site.author}}.</p>

  <p class="lead" id="typewriteText"></p>
  <div class="jumbotron-btns">
    <a href="{{ '/blog/' | relative_url }}">
      <button class="btn btn-md btn-warning"><strong>Blog</strong></button>
    </a>
    <a href="{{ '/about/#author_projects' | relative_url }}">
      <button class="btn btn-md btn-default"><strong>Projects</strong></button>
    </a>
  </div>
</div>
