<!-- home hero section -->
<section class="hero">
  <div class="hero__inner">
    <div class="hero__text">
      <span class="hero__greeting">Hi, I'm</span>
      <h1 class="hero__name">{{site.author}}</h1>
      <p class="hero__typewrite" id="typewriteText"></p>
      <div class="hero__actions">
        <a href="{{ '/blog/' | relative_url }}" class="hero__btn hero__btn--primary">
          <i class="fa fa-pen-nib"></i> Blog
        </a>
        <a href="{{ '/about/#author_projects' | relative_url }}" class="hero__btn hero__btn--secondary">
          <i class="fab fa-github"></i> Projects
        </a>
      </div>
    </div>
    <div class="hero__avatar">
      <div class="hero__avatar-ring">
        <img src="{{ '/assets/img/' | append: site.author_logo | relative_url }}" alt="{{site.author}}" />
      </div>
    </div>
  </div>
  <div class="hero__scroll-hint">
    <span>Scroll</span>
    <div class="hero__scroll-line"></div>
  </div>
</section>
