---
layout: default
---
{%- assign author_posts = site.posts | where: "author", page.username -%}

<div class="blog-page">
  <div class="blog-page__header">
    <div>
      <span class="blog-page__label">Author</span>
      <h1 class="blog-page__title">{{ page.display_name | default: page.username }}</h1>
    </div>
    <a class="blog-page__back" href="{{ '/blog' | relative_url }}">
      <i class="fa fa-arrow-left"></i> All Articles
    </a>
  </div>

  <div class="author-profile">
    {% if page.avatar %}
    <div class="author-profile__avatar-ring">
      <img src="{{ '/assets/img/authors/' | append: page.avatar | relative_url }}" alt="{{ page.display_name | default: page.username }}" />
    </div>
    {% endif %}
    {% if page.bio %}
    <p class="author-profile__bio">{{ page.bio }}</p>
    {% endif %}
  </div>

  {% if author_posts.size > 0 %}
  <div class="category-section">
    <div class="category-section__header">
      <span class="category-section__name">
        {{ author_posts.size }} article{% if author_posts.size != 1 %}s{% endif %}
      </span>
    </div>
    <div class="blog-page__list">
      {% for post in author_posts %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="blog-card" style="animation-delay: {{ forloop.index0 | times: 0.06 }}s">
        {% if post.thumbnail %}
        <div class="blog-card__thumb">
          <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}" loading="lazy" />
        </div>
        {% endif %}
        <div class="blog-card__body">
          <div class="blog-card__meta">
            <time class="blog-card__date" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time>
            {% for cat in post.category limit:1 %}
            <span class="blog-card__category">{{ cat }}</span>
            {% endfor %}
          </div>
          <h2 class="blog-card__title">{{ post.title }}</h2>
          {% if post.summary %}
          <p class="blog-card__summary">{{ post.summary | truncate: 160 }}</p>
          {% endif %}
          <div class="blog-card__footer">
            {% if post.tags.size > 0 %}
            <div class="blog-card__tags">
              {% for tag in post.tags limit:3 %}
              <span class="blog-card__tag">#{{ tag }}</span>
              {% endfor %}
            </div>
            {% endif %}
            <span class="blog-card__read-more">Read <i class="fa fa-arrow-right"></i></span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
