---
layout: default
---

<div id="blog-post-container">
  {%- include blog_post_article.html -%}
</div>

<aside class="post-bottom-section">
  <div class="post-bottom-grid">
    <div class="post-bottom-card">
      <h4 class="post-bottom-card__title">About {{site.author}}</h4>
      <p>{{ site.author_bio }}</p>
    </div>
    <div class="post-bottom-card">
      <h4 class="post-bottom-card__title">Categories</h4>
      <div>
        {%- include blog_categories.html -%}
      </div>
    </div>
    <div class="post-bottom-card">
      <h4 class="post-bottom-card__title">Explore</h4>
      <div>
        {% for i in site.urls %}
        <li>
          <a href="{{ i.url | relative_url }}">{{ i.text }}</a>
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</aside>
